[program:ja-worker]
process_name=%(program_name)s_%(process_num)02d
command=php {{APP_PATH}}/backend/artisan queue:work --sleep=3 --tries=3 --max-time=3600
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user={{USER}}
numprocs=2
redirect_stderr=true
stdout_logfile={{APP_PATH}}/backend/storage/logs/worker.log
stopwaitsecs=3600
