parameters:
	ignoreErrors:
		-
			message: '#^Call to static method error\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Analytics/app/Http/Middleware/TrackAnalytics.php

		-
			message: '#^Call to static method channel\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Core/app/Infra/Http/Controllers/BackupController.php

		-
			message: '#^Call to static method error\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Core/app/Infra/Http/Controllers/BackupController.php

		-
			message: '#^Parameter \#4 \$user of static method Modules\\Core\\System\\Models\\ActivityLog\:\:log\(\) expects Modules\\Core\\System\\Models\\User\|null, Modules\\Core\\System\\Models\\User\|Modules\\Member\\Models\\Member\|null given\.$#'
			identifier: argument.type
			count: 3
			path: Modules/Core/app/Infra/Http/Controllers/FileManagerController.php

		-
			message: '#^Parameter \#2 \$user of static method Modules\\Core\\Security\\Models\\SecurityLog\:\:log\(\) expects Modules\\Core\\System\\Models\\User\|null, Modules\\Core\\System\\Models\\User\|Modules\\Member\\Models\\Member\|null given\.$#'
			identifier: argument.type
			count: 2
			path: Modules/Core/app/Security/Http/Controllers/SecurityController.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: Modules/Core/app/System/Http/Controllers/Api/DataModelApiController.php

		-
			message: '#^Method Modules\\Core\\System\\Http\\Controllers\\Api\\DataModelApiController\:\:hydrateRelations\(\) has parameter \$records with generic interface Illuminate\\Contracts\\Pagination\\LengthAwarePaginator but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Api/DataModelApiController.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 4
			path: Modules/Core/app/System/Http/Controllers/Api/DataModelApiController.php

		-
			message: '#^Strict comparison using \!\=\= between non\-falsy\-string and '''' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Api/DataModelApiController.php

		-
			message: '#^Call to an undefined method Modules\\Core\\System\\Models\\User\|Modules\\Member\\Models\\Member\:\:hasRole\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: Modules/Core/app/System/Http/Controllers/Api/MaintenanceApiController.php

		-
			message: '#^Call to static method raw\(\) on an unknown class Mail\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/EmailTemplateController.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/ExtensionController.php

		-
			message: '#^Method Modules\\Core\\System\\Http\\Controllers\\Console\\ExtensionController\:\:performActivation\(\) has parameter \$cascadeSlugs with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/ExtensionController.php

		-
			message: '#^Method Modules\\Core\\System\\Http\\Controllers\\Console\\ExtensionController\:\:resolveActivationTargets\(\) should return list\<string\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/ExtensionController.php

		-
			message: '#^Parameter \#1 \$array of function array_unique expects an array of values castable to string, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/ExtensionController.php

		-
			message: '#^Access to an undefined property Laravel\\Passport\\Client\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/OAuthClientController.php

		-
			message: '#^Access to an undefined property Laravel\\Passport\\Client\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/OAuthClientController.php

		-
			message: '#^Access to an undefined property Laravel\\Passport\\Client\:\:\$revoked\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/OAuthClientController.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/RedisController.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: Modules/Core/app/System/Http/Controllers/Console/RedisController.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 4
			path: Modules/Core/app/System/Http/Controllers/Console/RedisController.php

		-
			message: '#^Parameter \#1 \$name of static method Illuminate\\Redis\\RedisManager\:\:connection\(\) expects string\|UnitEnum\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/RedisController.php

		-
			message: '#^Parameter \#2 \$pattern of method Redis\:\:scan\(\) expects string\|null, array\<string, int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/RedisController.php

		-
			message: '#^Strict comparison using \!\=\= between int\<min, \-1\>\|int\<1, max\>\|Redis and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/RedisController.php

		-
			message: '#^Strict comparison using \!\=\= between int\<min, \-1\>\|int\<1, max\>\|Redis\|false and ''none'' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/RedisController.php

		-
			message: '#^Strict comparison using \!\=\= between mixed~\(0\|0\.0\|''''\|''0''\|array\{\}\|false\|null\) and ''0'' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/RedisController.php

		-
			message: '#^Call to an undefined method Modules\\Core\\System\\Services\\CacheWarmingService\:\:getStatistics\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/SystemController.php

		-
			message: '#^Call to an undefined method Modules\\Core\\System\\Services\\CacheWarmingService\:\:warmByType\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/SystemController.php

		-
			message: '#^Access to an undefined property Modules\\Core\\System\\Models\\User\|Modules\\Member\\Models\\Member\:\:\$kyc_level\.$#'
			identifier: property.notFound
			count: 2
			path: Modules/Core/app/System/Http/Controllers/Console/UserController.php

		-
			message: '#^Access to an undefined property Modules\\Core\\System\\Models\\User\|Modules\\Member\\Models\\Member\:\:\$onboarding_step\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/UserController.php

		-
			message: '#^Call to an undefined method Modules\\Core\\System\\Models\\User\|Modules\\Member\\Models\\Member\:\:passkeys\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Core/app/System/Http/Controllers/Console/UserController.php

		-
			message: '#^Parameter \#2 \$user of static method Modules\\Core\\Security\\Models\\SecurityLog\:\:log\(\) expects Modules\\Core\\System\\Models\\User\|null, Modules\\Core\\System\\Models\\User\|Modules\\Member\\Models\\Member given\.$#'
			identifier: argument.type
			count: 1
			path: Modules/Core/app/System/Http/Middleware/CheckPermission.php

		-
			message: '#^Access to an undefined property Laravel\\Passport\\Client\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Core/app/System/Providers/SystemServiceProvider.php

		-
			message: '#^Call to static method debug\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Core/app/System/Services/CacheService.php

		-
			message: '#^Call to static method warning\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Core/app/System/Services/CacheService.php

		-
			message: '#^Cannot access offset ''widgets'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Modules/Core/app/System/Services/ExtensionContributionService.php

		-
			message: '#^Parameter \#2 \$arrays of function array_diff expects an array of values castable to string, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Modules/Core/app/System/Services/ExtensionContributionService.php

		-
			message: '#^Cannot access property \$group_slug on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: Modules/Core/app/System/Services/ExtensionHealthService.php

		-
			message: '#^Cannot access property \$name on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: Modules/Core/app/System/Services/ExtensionHealthService.php

		-
			message: '#^Method Modules\\Core\\System\\Services\\ExtensionHealthService\:\:menuSlugConflictsFor\(\) has parameter \$menus with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: Modules/Core/app/System/Services/ExtensionHealthService.php

		-
			message: '#^Method Modules\\Core\\System\\Services\\ExtensionHealthService\:\:routeConflictsFor\(\) has parameter \$menus with generic class Illuminate\\Support\\Collection but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: Modules/Core/app/System/Services/ExtensionHealthService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:filter\(\) expects \(callable\(mixed, int\|string\)\: bool\)\|null, Closure\(Modules\\Core\\System\\Models\\ConsoleMenu\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: Modules/Core/app/System/Services/ExtensionHealthService.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array\<int, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Modules/Core/app/System/Services/ExtensionHealthService.php

		-
			message: '#^Parameter \#2 \$arrays of function array_diff expects an array of values castable to string, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Modules/Core/app/System/Services/ExtensionHealthService.php

		-
			message: '#^Part \$route \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: Modules/Core/app/System/Services/ExtensionHealthService.php

		-
			message: '#^Part \$dbEngine \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: Modules/Core/app/System/Services/SystemService.php

		-
			message: '#^Cannot access offset ''model_has_permissions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Cannot access offset ''model_has_roles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Cannot access offset ''model_morph_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Cannot access offset ''permission_pivot_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Cannot access offset ''permissions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Cannot access offset ''role_has_permissions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Cannot access offset ''role_pivot_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Cannot access offset ''roles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Parameter \#1 \$column of method Illuminate\\Database\\Schema\\Blueprint\:\:uuid\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 6
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Parameter \#1 \$columns of method Illuminate\\Database\\Schema\\Blueprint\:\:foreign\(\) expects array\|string, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Parameter \#1 \$table of method Illuminate\\Database\\Schema\\ForeignKeyDefinition\:\:on\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Parameter \#1 \$table of static method Illuminate\\Support\\Facades\\Schema\:\:create\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Parameter \#1 \$table of static method Illuminate\\Support\\Facades\\Schema\:\:dropIfExists\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: Modules/Core/database/migrations/2026_01_01_000002_core_security_schema.php

		-
			message: '#^Call to static method error\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Layout/app/Helpers/ThemeDirectoryHelper.php

		-
			message: '#^Call to static method info\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 2
			path: Modules/Layout/app/Models/Theme.php

		-
			message: '#^Call to static method warning\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 2
			path: Modules/Layout/app/Models/Theme.php

		-
			message: '#^Method Modules\\Layout\\Services\\PublicWidgetPresenter\:\:categories\(\) should return list\<array\{id\: string, name\: string, slug\: string\}\> but returns array\<int, array\{id\: string, name\: string, slug\: string\}\>\.$#'
			identifier: return.type
			count: 1
			path: Modules/Layout/app/Services/PublicWidgetPresenter.php

		-
			message: '#^Method Modules\\Layout\\Services\\PublicWidgetPresenter\:\:recentPosts\(\) should return list\<array\{id\: string, title\: string, slug\: string, excerpt\?\: string\|null\}\> but returns array\<int, array\{id\: string, title\: string, slug\: string, excerpt\: mixed\}\>\.$#'
			identifier: return.type
			count: 1
			path: Modules/Layout/app/Services/PublicWidgetPresenter.php

		-
			message: '#^Call to static method error\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 1
			path: Modules/Layout/app/Services/ThemeService.php

		-
			message: '#^Call to static method warning\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 4
			path: Modules/Layout/app/Services/ThemeService.php

		-
			message: '#^Access to an undefined property Modules\\Member\\Models\\MemberBookmark\:\:\$member_id\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Member/app/Http/Controllers/Api/BookmarkController.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: Modules/Member/app/Http/Controllers/Api/MemberDirectoryController.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: Modules/Member/app/Services/MemberEmailVerification.php

		-
			message: '#^Parameter \#1 \$meta of method Modules\\Publishing\\Support\\BuilderDocumentValidator\:\:validate\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Modules/Publishing/app/Http/Controllers/Api/ContentController.php

		-
			message: '#^Call to static method make\(\) on an unknown class Hash\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/InstallCommand.php

		-
			message: '#^Call to static method error\(\) on an unknown class Log\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/InstallController.php

		-
			message: '#^Call to static method make\(\) on an unknown class Hash\.$#'
			identifier: class.notFound
			count: 2
			path: app/Http/Controllers/Api/V1/InstallController.php
